
html {
    font-family: Avenir, Arial, sans-serif;
    scroll-behavior: smooth;
    height: 100%;
    background: -webkit-gradient(linear, top, bottom, from(#50baea), to(#81819e));
    background: -webkit-linear-gradient(#50baea, #81819e);
    background: -moz-linear-gradient(#50baea, #81819e);
    background: -ms-linear-gradient(#50baea, #81819e);
    background: -o-linear-gradient(#50baea, #81819e);
    background: linear-gradient(#50baea, #81819e);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='50baea',  
        endColorstr='#81819e');
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(#50baea, #81819e);
    color: white;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
}

header {
    text-align: center;
    /* background: #59595c; */
    color: white;
    position: fixed;
    left: 0;
}

nav {
    font-size: 1.2em;
    margin: 50px;
}

nav ul {
    list-style-type: none;
    padding-left: 0;;
}

nav ul li {
    display: inline;
    padding: 0 10px;
    border-right: 1px solid white;
}

nav ul li:last-child {
    border-right: none;
}

.bio-picture {
    border-radius: 50%;
    filter: drop-shadow(10px 10px 20px rgba(0,0,0, .5));
}

h2 {
    text-align: center;
}

button {
    background-color: white;
    padding: 20px;
    font-size: 1em;
    color: #50baea;
    margin-top: 15px;
    border-radius: 5px;
    transition: all .3s;
}

button:hover {
    color: white;
    background-color: #50baea;
    transition: all .3s;
}

/* Home Page */


section {
    color: white;
    padding: 40px;
    text-align: center;
    margin-left: 500px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

section:last-of-type {
    border-bottom: none;
}

section p {
    text-align: left;
}

/* End of home page */

/* Start of Contact page */

.contact-form-section {
    text-align: center;
}

.contact-form {
    width: 250px;
    margin: 0 auto;
    text-align: center;
}

.contact-form input {
    margin: 10px 5px; 
    width: 50%;
    padding: 10px 20px;
}

.contact-form #submit {
    background-color: white;
    padding: 20px;
    font-size: 1em;
    color: #50baea;
    margin-top: 15px;
    border-radius: 5px;
    transition: all .3s;
}

#submit:hover {
    color: white;
    background-color: #50baea;
    transition: all .3s;
}

/* End of Contact Page */